.btn {
  border: none;
  border-radius: 20px;
  padding: 8px 0;
  width: 8em;
  background-color: #1799b7;
  font-size: 16px;
  font-weight: 600;
  color: azure;
}

.btn:hover {
  background-color: #4da55d;
  color: black;
}

.table-wrapper {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

// table {
//   font-family: arial, sans-serif;
//   border-collapse: collapse;
//   width: 100%;
// }

// td, th {
//   border: 1px solid #dddddd;
//   text-align: left;
//   padding: 8px;
// }

// tr:nth-child(even) {
//   background-color: #dddddd;
