$btnColor: "#1799b7";
$otherColor: "#53B6F8";

  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
  font-family: "Lato";
  box-sizing: border-box;
}

.fomContainer {
  max-width: 600px;
  display: flex;
  justify-content: center;
  margin: auto;

  form {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    .header {
      text-align: center;
      .link {
        color: #53b6f8;
        text-decoration: none;
      }
      h2 {
        font-size: 38px;
        font-weight: bold;
        margin: 0;
      }
      p {
        margin: 20px;
        font-size: 20px;
        color: rgb(152, 152, 152);
      }
    }

    .input {
      input,
      select {
        width: 100%;
        border: 2px solid rgb(229, 231, 232);
        padding: 20px;
        margin: 12px 0;
        border-radius: 3px;
        font-size: 20px;
        &:focus {
          outline: none;
        }
      }
      &.password-input {
        position: relative;
        .icon {
          position: absolute;
          right: 20px;
          top: 34px;
        }
      }
      select {
        --chevron: url("data:image/svg+xml,%0A%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 29.375C19.5029 29.3728 19.0263 29.1766 18.6719 28.8281L6.17188 16.3281C5.81964 15.9759 5.62175 15.4981 5.62175 15C5.62175 14.5019 5.81964 14.0241 6.17188 13.6719C6.52412 13.3196 7.00186 13.1217 7.5 13.1217C7.99815 13.1217 8.47589 13.3196 8.82813 13.6719L20 24.8438L31.1719 13.6719C31.5241 13.3196 32.0019 13.1217 32.5 13.1217C32.9981 13.1217 33.4759 13.3196 33.8281 13.6719C34.1804 14.0241 34.3783 14.5019 34.3783 15C34.3783 15.4981 34.1804 15.9759 33.8281 16.3281L21.3281 28.8281C20.9737 29.1766 20.4971 29.3728 20 29.375Z' fill='%2353B6F8'/%3E%3C/svg%3E%0A");
        -o-appearance: none;
        -ms-appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: var(--chevron) right center no-repeat;
        background-size: 30px;
        background-position: calc(100% - 30px);
      }
    }
    .radioContainer {
      display: flex;
      gap: 24px;
    }
    .radio {
      width: 100%;
      border: 2px solid rgb(229, 231, 232);
      padding: 0 10px;
      margin: 10px 0;
      border-radius: 3px;
      display: flex;
      gap: 8px;
      align-items: center;
      input {
        width: 30px;
        height: 30px;
        accent-color: rgb(8, 133, 174);
      }
      p {
        font-size: 20px;
        color: rgb(152, 152, 152);
      }
    }
    .btn-container {
      position: relative;
      .lock {
        position: absolute;
        top: 30px;
        left: 10px;
        width: 25px;
        height: 25px;
        img {
          width: 100%;
        }
      }
      .submit-button {
        width: 100%;
        padding: 18px;
        font-size: 20px;
        margin-top: 12px;
        background: #1799b7;
        color: white;
        border: none;
        border-radius: 3px;
      }
    }
  }
}

.userList {
  max-width: 600px;
  padding: 20px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  margin-top: 40px;
  h1 {
    font-size: 24px;
    margin: 0;
  }
  h2 {
    font-size: 20px;
  }
  h2,
  p {
    margin: 0;
    padding: 0;
    color: rgb(106, 106, 106);
  }
  header {
    text-align: center;
    border-bottom: 1px solid rgb(231, 232, 233);
    padding: 10px 0;
    margin-bottom: 20px;
  }
  .usersContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    .user {
      display: flex;
      gap: 20px;
      .image {
        width: 60px;
        height: 60px;
        border-radius: 50px;
        img {
          width: 100%;
        }
      }
    }
  }
}
.margin-auto {
  margin: auto;
  margin-top: 40px;
}
.add {
  font-size: 14px;
  background: #1799b7;
  border-radius: 5px;
  border: none;
  color: white;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  margin-top: 40px;
  th {
    padding: 10px;
    border-bottom: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
    text-align: left;
  }
  td {
    padding: 10px;
    border-bottom: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
    text-align: left;
    .table-btn {
      padding: 5px 10px;
      border: none;
      border-radius: 3px;
      background: #dfdfdf;
      color: rgb(16, 16, 16);
      font-size: 12px;
      cursor: pointer;
    }
  }
}
.page-wraper {
  display: flex;
  gap: 48px;
  justify-content: center;
  .results {
    align-self: flex-start;
    width: 40%;
    .result {
      margin-top: 40px;
      border: 1px solid #dfdfdf;
      padding: 20px;
      border-radius: 5px;
      .single-item {
        background: #f1f1f1;
        padding: 5px 10px;
        border-radius: 5px;
        border-bottom: 1px solid gray;
        margin-bottom: 5px;
      }
    }
  }
}
.hidden {
  display: none !important;
}
.madalWraper {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.216);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  .modal-content {
    width: 400px;
    min-height: 200px;
    border: 1px solid rgb(208, 219, 222);
    box-shadow: 0 0 10px rgb(207, 207, 207);
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .header {
      width: 100%;
      .close {
        margin-left: auto;
        width: 24px;
        height: 24px;
        background: rgb(208, 219, 222);
        text-align: center;
        cursor: pointer;
      }
    }
    input {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      font-size: 14px;
      border: 1px solid gray;
      margin-bottom: 10px;
    }
    .form {
      width: 100%;
      padding: 30px;
      .inputWrapper {
        width: 100%;
      }
      .submit-button {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        font-size: 14px;
        border: 1px solid #1799b7;
        background: #1799b7;
        cursor: pointer;
        color: white;
        margin-top: 20px;
      }
    }
  }
}
